    $header-logo-color: #2196F3;
    $header-label-color: #212121;
    $footer-logo-color: #2196F3;
    $studio-footer-color: #ffffff;
    $header-contacts-color: #757575;
    $footer-contacts-color: rgba(255, 255, 255, 0.6);
    $header-link-color: #212121;
    $hero-bg-color:#2F303A;
    $button-bg-color: #2196F3;
    $footer-bg-color:#2F303A;
    $main-title-color: #ffffff; 
    $second-title-color: #212121;
    $third-title-color: #212121;
    $main-text-color: #757575;
    $address-color: rgba(255, 255, 255, 1);
    $filter-btn-color: #212121;
    $filter-btn-bg: #F5F4FA;
    $pseudo-class-color: #2196F3;
    $pseudo-class-txt-color: #ffffff;
    $menu-text-color: #2196F3;

    .body {
    font-family: Roboto, sans-serif;
}

